/* BUTTONS */
.btn {
  margin: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
  /* btn_01 */
  font-size: 1rem;
  max-width: 250px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-secondary {
  color: #504e4e;
  border: #504e4e solid 1.5px;
  transition: background 0.3s ease;
}

.btn-secondary:hover {
  background: #504e4e;
  color: #f8fcfe;
}

.btn-primary {
  color: white;
  border: white solid 1.5px;
  transition: background 0.3s ease;
}

.btn-primary:hover {
  background: white;
  color: #54798e;
}
