.wrap {
  width: 100vw;
}

.grid {
  display: grid;
  /* remove once we fill main with content */
  min-height: 100vh;
  /* end */
}

.grid-site {
  grid-template-columns: 18% 60% 18%;
  grid-template-rows: 1/3fr 1/3fr 1/3fr;
  grid-template-areas:
    "aside-left header aside-right"
    "aside-left main aside-right"
    "aside-left footer aside-right";
  grid-gap: 2%;
}

.aside {
  min-height: 100vh;
}

.aside-left {
  grid-area: aside-left;
}

.aside-right {
  grid-area: aside-right;
}

.main {
  grid-area: main;
  min-height: 100%;
}

.header {
  grid-area: header;
  min-height: 2rem;
  max-height: 4rem;
}

.footer {
  grid-area: footer;
  min-height: 2rem;
  max-height: 4rem;
  align-self: end;
}

@media only screen and (max-width: 610px) {
  .grid {
    grid-template-columns: 50% 50%;
    grid-gap: 0;
    grid-template-areas:

      "header"
      "main"
      "footer"
    ;
  }

  .aside {
    max-height: 4rem;
    display: none;
    visibility: hidden;
    opacity: 0;

  }

  header {
    max-height: 4rem;
  }

  .wrap>* {
    /* width: 100%; */
    min-height: 0;
    display: block;
  }

  /* TODO move later or clean up */
  .social-container {
    display: none;
    visibility: hidden;
  }

}
