/* flex and center */
.flex {
  display: flex;
}

.center {
  align-items: center;
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

.title {
  width: auto;
}

.fold {
  height: 99vh;
}

.fill-height {
  height: 100%;
}

.no-b-pad {
  padding-bottom: 0;
  margin-bottom: 0;
  ;
}

.test {
  border: solid red 1px;
}
