h1 {
  /* h1-b */
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 128px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;

}
