body {
  /* p */
  font-family: Avenir Next;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 39px;
}

h1 {
  /* h1-b */
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 128px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;

}

h2 {
  /* h2-b */
  font-family: Avenir Next;
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 98px;

}

h3 {
  /* h3 */
  font-family: Playfair Display;
  font-style: italic;
  font-weight: normal;
  font-size: 36px;
  line-height: 48px;
}
